<script type="text/javascript">
    $(function() {
      $('#application-edit').on('show', function (e) {
                                $('#application-edit form').show();
                                $('#application-edit-submit').show();
                                $($('#application-edit form').attr('data-target')).empty();
                                $('#application-edit form select[name="project_id"]').empty();
                                
                                $.getJSON('api/project/list', function(data) {
                                          $.each(data, function(key, val) {
                                                 $('<option value="' + val.id + '" data-directory="' + val.directory + '">' + val.name + '</option>').appendTo('#application-edit form select[name="project_id"]');
                                                 });
                                          $.getJSON('api/application/' + $($('#application-edit form span[name="id"]')[0]).text(), function(data) {
                                                    $.each(data, function(i, d) {
                                                           $.each(d, function(key, val) {
                                                                  if(key == "project_id") {
                                                                  $($('#application-edit form select[name="project_id"]')[0]).val(val);
                                                                  } else if (key == "project_directory") {
                                                                  $($('#application-edit form span[name="' + key + '"]')[0]).text(val);
                                                                  } else if(key == "description" || key == "command") {
                                                                  $($('#application-edit form textarea[name="' + key + '"]')[0]).val(val);
                                                                  } else {
                                                                  $($('#application-edit form input[name="' + key + '"]')[0]).val(val);
                                                                  }
                                                                  })
                                                           });
                                                    });
                                          
                                          });
                                
                                
                                
                                });
      $('#application-edit').on('hide', function(e) {
                                if(e.target.id == "application-edit") {
                                $('#application-edit form').each(function() {
                                                                 this.reset();
                                                                 });
                                search.refresh();
                                }
                                });
      $('#application-edit-submit').on('click', function(e){
                                       e.preventDefault();
                                       data = { "id": $($('#application-edit form span[name="id"]')[0]).text() }
                                       var action = $('#application-form-edit').attr("action");
                                       $('#application-form-edit').attr("action", $.nano(action, data));
                                       $('#application-form-edit').submit();
                                       $('#application-form-edit').attr("action", action);
                                       });
      
      $('#application-edit form select[name="project_id"]').on('change', function(e) {
                                                              e.preventDefault();
                                                              $($('#application-edit form span[name="project_directory"]')[0]).text($(this).children(":selected").attr('data-directory'));
                                                              });

      });
    </script>

<div id="application-edit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="application-edit-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="application-edit-label">Application Information</h3>
    </div>
    <div class="modal-body">
        <form id="application-form-edit" data-mode="async" data-type="json" data-target="#application-message-edit" action="api/application/{id}" method="PUT" class="form-horizontal">
            <fieldset>
                <legend>General</legend>
                
                <div class="control-group">
                    <label class="control-label">id</label>
                    <div class="controls">
                        <span name="id" class="uneditable-input input-xlarge" type="text" placeholder="" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">name</label>
                    <div class="controls">
                        <input name="name" class="input-xlarge" type="text" placeholder="" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">description</label>
                    <div class="controls">
                        <textarea name="description" class="input-xlarge" rows="3"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">directory</label>
                    <div class="controls controls-row">
                        <div class="row-fluid">
                            <div class="span2">
                                <span name="project_directory" class="uneditable-input input-mini" style="width:80px;text-align:right;" type="text" placeholder=""/>
                            </div>
                            <div class="offset3" style="margin-left:85px;">
                                <input name="directory" class="input-medium" type="text" placeholder="" rel="tooltip" data-placement="top" data-original-title="is the sub folder of the server share inside your project folder"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">command</label>
                    <div class="controls">
                        <textarea name="command" class="input-xlarge" rows="3" rel="tooltip" data-placement="top" data-original-title="lackey background process runs this script inside the shell"></textarea>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label">project</label>
                    <div class="controls">
                        <select name="project_id" class="input-xlarge"><!-- addded by ajax json call --></select>
                    </div>
                </div>
                
            </fieldset>
        </form>
        <div id="application-message-edit"></div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button id="application-edit-submit" class="btn btn-primary">Save</button>
    </div>
</div>