%rebase layout title=title,menu=menu


<!-- Masthead
 ================================================== -->
<div class="jumbotron masthead" id="title">
    <div class="container">
        <h1>Lackey 1.0</h1>
        <p class="lead">
        At your servcie!
        </p>
        <ul class="masthead-links">
            <li><a href="http://plus.ethz.ch" target="_new">PLUS @ ETHZ</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="marketing">
        <header>
            <h1>Most used applications</h1>
        </header>
        <p class="marketing-byline">How cool is that ...</p>
        
        
        <div class="row-fluid">
            <ul class="thumbnails example-sites">
                <li class="span3">&nbsp;</li>
                <li class="span3">&nbsp;</li>
                <li class="span3">&nbsp;</li>
                <li class="span3">&nbsp;</li>
            </ul>
        </div>
    </div>
</div>
